.terraform
#terraform.tfvars
terraform.tfstate.backup
terraform.tfstate
key.json
verify-terraform/
.gitsecret/keys/random_seed
!*.secret
env/bootstrap/terraform.tfvars
.terraform.lock.hcl
.terraform.tfstate.lock.info
